*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); 
    display: grid;
    place-content: center;
    z-index: 0;
}

.srchandresult{
    height: 100vh;
    width: 70vw;
    display: grid;
    place-content: center;
}

#srchbtn{
    height: 40px;
    outline: none;
    width: 0;
    border: none;
    padding: 5px;
    z-index: 2;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);    
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.searchbtn{
    background-color: white;
    height: 40px;
    width: 40px;
    z-index: 2;
    cursor: pointer;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    background-color: green;
    box-shadow: 0px 0px 5px black ;
    background-image: linear-gradient(160deg, #005c91 0%, #63a19a 100%);    
}

.searchsection{
    display: flex;
}

.container #iron-man-img{
    max-height: 9rem;
    max-width: 9rem;
    position: absolute;
    object-fit: contain;
    top: 100%;
    transform: translateY(-180%);
    left: 30%;
    z-index: 2;
    filter: grayscale(0.4);
}

.container #falcon-img{
    max-height: 16rem;
    max-width: 16rem;
    position: absolute;
    object-fit: contain;
    top: 10%;
    left: 10%;
    transform: translateX(-50%);
    z-index: 2;
}

#spider-man-img{
    max-height: 16rem;
    max-width: 16rem;
    position: absolute;
    object-fit: contain;
    left: 100%;
    z-index: 2;
    transform: translateX(-100%);
    filter: grayscale(0.4);
}

.images-wrapper{
    position: absolute;
    top: 0;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    opacity: 1;
}

.creator-sign{
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.website-name{
    font-size: 30px;
    font-weight: 900;
    color: antiquewhite;
    text-shadow: 5px 5px 7px black;
}

.creator-sign a{
    color: wheat;
    font-weight: 900;
}

.searchIcon{
    height: 50px;
    width: 5px;
}
